/*Base setup*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
   font-family:"Segoe UI Variable Text", "Segoe UI", segoeui, "Helvetica Neue", helvetica, arial, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*Base setup*/

/*Header-Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    padding: 0 100px;
    margin-top: 10px;
}
.navLeft img{
    width: 110px;
    object-fit: contain;
    
}
.navLeft{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 12px;
}
#firstA{
    margin-left: 1rem;
}
.nav-item a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2.3px;

}
.nav-item{
    display: flex;
    gap: 1.5rem;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 495;
    cursor: pointer;
}
.navRight{
    display: flex;
    gap: 1.3rem;
    align-items: center;
    font-size: 12px;
}
/* ME button at navRight */
.circle a{
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #393939;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;  
}

.navLink{
    display: flex;
    gap: 5px;
    height:20px;
}
.navRight .navLink:hover{
    border-bottom: 2.3px solid black;
}
.circle a:hover{
   text-decoration-line: none;
}
/*Header-Navbar*/

/*Hero Section*/
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    align-items: center;
}
.hero-sec{
    width: 100%;
    min-height: 70vh;
    /* padding-left: 110px; */
    padding-left: 6rem;
    margin-top: 1rem;

    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Hero-Desktop-Surface-Portfolio-Snapdragon-Platinum-Standard?&resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3840&hei=2160&qlt=85&fit=constrain&dpr=on,2);
    background-position: center;
    background-size: cover;

}
.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#new{
    padding: 8px 15px; /*top+bottom & left +right*/
    background-color: #FFB900;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    width: fit-content;
}
#learn-more{
    padding: 15px 20px ;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}
#learn-more:hover{
    background-color: rgb(218, 205, 205);
}
.hero-sec h2{
    font-weight: 500;
    font-size: 2.7rem;
    letter-spacing: 1px;
    color: #F4FAFD;
}
.hero-sec p{
    font-size: 1rem;
    line-height: 1.3rem;
    color: #F4FAFD;
}
/*Hero Section*/
/*Hero btn sections*/
.hero-btns{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    /* background-color: #FFB900; */
    margin-top: 1.7rem;

}
.hero-Microsoft365{
    color: #004275;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
    align-self: center;
}
.hero-Microsoft365 img{
    margin-bottom: 7px;
}
.hero-Microsoft365 p{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}
/*Hero btn sections*/
/*product sections*/
.product-box{
    width: 100%;
    padding: 2rem 1.7rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.product-img img{
    width: 100%;
    height: auto;
    display: block;
}
.product-img{
    margin-bottom: 5px;
}
.product-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    border: .8px solid #E7E7E7;
    padding: 10px 10px;
    border-radius: .9rem;
    transition: all 0.3s ease;

}
.product-div:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
.product-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    
}
.product-details h3{
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    color: rgb(14, 23, 38);
    margin-bottom: .75rem;
}
.product-details p{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
#Pro-btn{
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    background-color: #1889e0;
    color: white;
    /* margin-top: 3rem; */
    font-weight: 600; 
    width: fit-content;
}
#Pro-btn:hover{
    cursor: pointer;
    background-color:#006DC1; /*#15406F;*/
}
.product-details button{
    margin-top: auto;
    margin-bottom: 10px;
}
/*product sections*/
/*another software based product section*/
.product-box2{
    padding: 4rem 6rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: .5rem .8rem .3rem .5rem;
    border: 1px solid #EFEFEF;
    border-radius: 1rem;
}
.img-txt{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* margin-top: auto; */
}
.product-img2{
    width: 52%; 
}
.product-img2 img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
#product-btn{
    margin-top: auto;
    width: fit-content;
    margin-bottom: 1.5rem;
    margin-left: .5rem;

}
.img-txt h3{
    font-weight: 600;
    line-height: 40px;
    color: rgb(14, 23, 38);
    font-size: 1.6rem;
    margin-top: 8rem;
    margin-left: .4rem;
  
}
.img-txt p{
    font-weight: 400;
    margin-left: .4rem;
    font-size: .9rem;
    line-height: 24px;
    margin-top: .5rem;
    color: #172562;
}

#product-btn{
    padding: 10px 15px;
    background-color:#1889e0 ; /*#006DC1*/
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}
#product-btn:hover{
    background-color:#006DC1;
    cursor: pointer;
}
.container:hover{
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

/*Business Section*/
.business-section {
    width: 100%;
    padding: 2rem 5rem;
    background-color: #DCEEF8;
    display: block;
}

.business-title {
    margin: 0 0 1.5rem 0;
}
.business-section h2{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(14, 23, 38);
}

.business-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}


/*Cards*/
.business-card {
    width: 100%;
    min-height: 380px;

    background-color: white;

    border: 1px solid #e7e7e7;
    border-radius: 14px;

    /* padding: 10px; */
    padding: .7rem .6rem;

    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;
}

.business-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


/*Image*/
.business-image {
    margin-bottom: 10px;
    width: 100%;
    /* object-fit: contain; */
}
.business-image img {
    width: 100%;
    height: auto;
    display: block;

    border-radius: 8px;
}


/*Details*/
.business-details {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 1rem 0.5rem 0.5rem;
}

.business-details h3 {
    margin-bottom: 0.8rem;
    font-weight: 600;
    font-size: 20px;
}

.business-details p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: rgb(23, 37, 61);
}

/*Buttons*/
.business-btn {
    width: fit-content;
    margin-top: auto;
    padding: 8px 14px;
    color: white;
    background-color: #0078d4;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.business-btn:hover {
    background-color: #006dc1;
}
/* Business Section */
/* less plastic,more planet Section */